<meta http-equiv="content-type" content="text/html;charset=utf-8">
<style>
    body {
        width: 150px;
    }

    #add-new-item {
        cursor: pointer;
        color: #CCC;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }

    .item {
        cursor: pointer;
        margin: 5px 0;
    }

    .item input {
        display: inline-block;
        width: 12px;
        height: 12px;
    }

    input {
        width: 120px;
    }
</style>
<div id="add-new-item">添加新项</div>
<input type="text" id="titleInput" placeholder="填写标题"/>
<input type="text" id="serverUrlInput" placeholder="填写服务器url"/>
<button id="indexPageBtn">打开主页</button>
<script type="text/javascript" src="/static/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/static/config.js"></script>
<script type="text/javascript" src="/static/main.js"></script>
